
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=76; */

/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


// FONTS
// ------------------------------------------------------------------------

@import url("http://fonts.googleapis.com/css?family=PT+Serif:400")
@import url("http://fonts.googleapis.com/css?family=EB+Garamond")
@import url("http://fonts.googleapis.com/css?family=Ubuntu+Mono:400")


// VARIABLES
// ------------------------------------------------------------------------

$font-body = "PT Serif"
$font-header = "EB Garamond"
$font-mono = "Ubuntu Mono"
$font-light = "Dosis"
$color-accent = #006ebb


// GENERIC STYLES
// ------------------------------------------------------------------------

*
  box-sizing border-box

  ::selection
    background $color-accent
    color white


body
  font-family $font-body
  font-size 18px
  font-weight 300
  margin 0

a
  text-decoration none
  color $color-accent

  &:hover
    text-decoration underline

hr
  height 1px
  background black
  font-size 0
  border 0


// EXHIBIT BROWSE
// ------------------------------------------------------------------------

body.neatline.browse
  background darken(white, 1%)

  div.container
    font-size 1.2em
    margin 3em auto
    width 50%

    h1.title
      font-family $font-header
      margin-bottom 0
      font-size 80px

    div.list

      span.date
        font-family $font-mono

      span.title
        margin-left 0.5em


// EXHIBIT SHOW
// ------------------------------------------------------------------------

body.neatline.show

  div.exhibit
    float left
    width 60%

    #neatline, #neatline-map
      height 100%
      width 100%

  div.narrative
    float right
    overflow-y scroll
    padding 2em 3em
    width 40%

    a.back
      display inline-block
      font-family $font-header
      padding 5px 8px
      margin-bottom 1em
      font-size 16px

      .arrow
        font-size 13px

    h1.title
      margin 0 0 1em 0
      font-family $font-header
      font-weight 400
      font-size 40px

    p
      line-height 27px

      &.first:first-letter
        float left
        margin 0 5px 5px 0
        font-family $font-header
        font-size 100px

    [data-neatline-slug]
      padding 3px 5px

  #static-bubble

    div.body
      font-size 17px

    a.close
      font-size 2em
      line-height 0.8em

      &:hover
        color $color-accent
        background none


// COLOPHON
// ------------------------------------------------------------------------

#colophon
  font-size 16px
