* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

div.container {
  *zoom: 1;
  max-width: 87.5em;
  margin-left: auto;
  margin-right: auto; }
  div.container:before, div.container:after {
    content: " ";
    display: table; }
  div.container:after {
    clear: both; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

div.exhibit {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  div.exhibit:last-child {
    margin-right: 0; }

div.narrative {
  display: block;
  float: left;
  margin-right: 2.35765%;
  width: 48.82117%; }
  div.narrative:last-child {
    margin-right: 0; }
  div.narrative h1.title {
    margin-top: 0; }
