
/* vim: set expandtab tabstop=2 shiftwidth=2 softtabstop=2 cc=76; */

/**
 * @package     omeka
 * @subpackage  neatline-NeatLight
 * @copyright   2012 Rector and Board of Visitors, University of Virginia
 * @license     http://www.apache.org/licenses/LICENSE-2.0.html
 */


// FONTS
// ------------------------------------------------------------------------

@import url("http://fonts.googleapis.com/css?family=Roboto+Slab:100,300")
@import url("http://fonts.googleapis.com/css?family=EB+Garamond")


// VARIABLES
// ------------------------------------------------------------------------

$font-body = "Roboto Slab"
$font-header = "EB Garamond"
$color-accent = #21759b


// GENERIC STYLES
// ------------------------------------------------------------------------

*
  box-sizing border-box

  ::selection
    background $color-accent
    color white


body
  font-weight 300
  font-size 18px
  font-family $font-body
  margin 0

a
  text-decoration none
  color $color-accent

  &:hover
    text-decoration underline

hr
  height 1px
  background black
  font-size 0
  border 0


// EXHIBIT SHOW
// ------------------------------------------------------------------------

body.neatline.show

  div.exhibit
    float left
    width 60%

  div.narrative
    float right
    overflow-y scroll
    padding 2em 5em
    width 40%

    a.back
      display inline-block
      padding 5px 8px
      margin-bottom 1em
      font-size 16px

      .arrow
        font-size 13px

    h1.title
      margin-top 0
      font-family $font-header
      font-weight 400
      font-size 70px

    p
      line-height 26px

      &.first:first-letter
        float left
        margin 0 5px 5px 0
        font-family $font-header
        font-size 100px

    [data-neatline-slug]
      padding 3px 5px

  #static-bubble

    div.title
      font-weight 700

    a.close
      font-size 2em
      line-height 0.8em

      &:hover
        color $color-accent


// COLOPHON
// ------------------------------------------------------------------------

#colophon
  font-size 0.8em
